// 宽高
$header_top_height = 58.5px
$side_nav_min_width = 200px
$view_box_min_width = 820px
$play_bar_height = 58.5px
$app_min_width = $side_nav_min_width + $view_box_min_width
$app_min_height = 670px

// 颜色
$forecolor = var(--forecolor) // 前景色
$second_forecolor = var(--second-forecolor)
$ornacolor = var(--ornacolor) // 点缀色（除酷炫黑主题，其余情况均与前景色相同）

$side_nav_bgcolor = var(--side-nav-bgcolor)
$side_nav_active_bgcolor = var(--side-nav-active-bgcolor)

$view_box_bgcolor = var(--view-box-bgcolor)

$play_bar_bgcolor = var(--play-bar-bgcolor)

$header_top_stress_fontcolor = var(--header-top-stress-fontcolor)
$header_top_primary_fontcolor = var(--header-top-primary-fontcolor)
$header_top_secondary_fontcolor = var(--header-top-secondary-fontcolor)
$header_top_placeholder_fontcolor = var(--header-top-placeholder-fontcolor)

$base_line_color = var(--base-line-color)

$stress_fontcolor = var(--stress-fontcolor)
$primary_fontcolor = var(--primary-fontcolor)
$regular_fontcolor = var(--regular-fontcolor)
$secondary_fontcolor = var(--secondary-fontcolor)
$placeholder_fontcolor = var(--placeholder-fontcolor)